/* CSS Document */
*{margin:0; padding:0;}
html,body{background:#000000; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size:15px; color:#FFFFFF; font-weight:normal;}
a{color:#ffffff; text-decoration:none;}
a:hover{color:#04E8FF;}
#container{width:920px; margin:50px auto;} 
h1{margin-bottom:30px;}
#read_txt{margin-bottom:30px;}
.share_00,.share_01,.share_02{float:left; width:300px; margin-right:10px;}
.thum,.thum a{display:block; overflow:hidden; width:300px; height:200px; text-indent:-99999px;}
.share_00 .thum a{background:url(../imgs/btn_00.gif) top left no-repeat;}
.share_00 .thum a:hover{background:url(../imgs/btn_00.gif) bottom left no-repeat;}
.share_01 .thum a{background:url(../imgs/btn_01.gif) top left no-repeat;}
.share_01 .thum a:hover{background:url(../imgs/btn_01.gif) bottom left no-repeat;}
.share_02 .thum a{background:url(../imgs/btn_02.gif) top left no-repeat;}
.share_02 .thum a:hover{background:url(../imgs/btn_02.gif) bottom left no-repeat;}
.download{text-align:center; margin-top:10px;}
.download a{border:1px solid #ffffff; display:block; padding:10px; }
.download a:hover{border:1px solid #04E8FF;}
.mr0{ margin-right:0px!important;}
#read_txt a{color:#04E8FF; text-decoration:underline;}
#read_txt a:hover{color:#1543E5; text-decoration:underline;}

/* clearfix --------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */